<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ShopClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="conn" connectionString="uid=tourdb;pwd=howwasyourdaytoday;database=zy_shop;server=data.tourzj.gov.cn,98;"/>-->
    <add name="conn" connectionString="Server=127.0.0.1,7788;database=namename;uid=sa;pwd=admin" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <ShopClient.Properties.Settings>
      <setting name="ShopId" serializeAs="String">
        <value />
      </setting>
    </ShopClient.Properties.Settings>
  </userSettings>
</configuration>
