body
{
}
DIV
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
SPAN
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
H1
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
H2
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
H3
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
H4
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
UL
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
LI
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 15px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
IMG
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
P
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
B
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
TEXTAREA
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
INPUT
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
SELECT
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
FORM
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
A
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
TABLE
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
TR
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
TD
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
TH
{
	padding-bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif,;
	padding-top: 0px;
}
IMG
{
	border-bottom: 0px;
	border-left: 0px;
	border-collapse: collapse;
	border-top: 0px;
	border-right: 0px;
}
TABLE
{
	border-bottom: 0px;
	border-left: 0px;
	border-collapse: collapse;
	border-top: 0px;
	border-right: 0px;
}
